<div ng-controller="StageCtrl" ng-switch on="whichSurveyHalf"  id="lifestage-widget"  ng-show="displayWidget">
    <div class='hide-widget col-md-2 col-sm-2 col-xs-10'>
      <span>Remind me later</span>
      <a ng-click="displayWidget=false"><i class="fa fa-times"></i></a>
    </div>
    <h4 class="hidden-xs">Compare yourself to your peers</h4>
    <h3 class="hidden-xs">Life-stage Questions:</h3>
    <div class="row">

      <div ng-switch-when="firstHalf">
        <form class="form" ng-submit="submit_stage_widget(stageWidget1.$valid, 'firstHalf')" id="stageWidget1" name="stageWidget1" role="form" novalidate>
          <div class="col-md-10 col-sm-12">
            <div class="col-md-3 col-sm-3 col-xs-5" ng-if="userHide()">
              <div class="form-group has-feedback" ng-class="{'has-error': stageWidget1.users.$invalid && stageWidget1.users.$dirty, 'has-success': stageWidget1.users.$valid, 'hide': $scope.userHide}">
                <label for="users">Users</label>
                <input type="number" class="form-control" id="users" name="users" placeholder="Number" required ng-model="$parent.stage.users" min="0">
                <span ng-show="stageWidget1.users.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span ng-show="stageWidget1.users.$invalid && !stageWidget1.users.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-5" ng-if="payerHide()">
              <div class="form-group has-feedback" ng-class="{'has-error': stageWidget1.payers.$invalid && !stageWidget1.payers.$pristine, 'has-success': stageWidget1.payers.$valid}">
                <label for="payers">Payers</label>
                <input type="number" class="form-control" id="payers" name="payers" placeholder="Number" required ng-model="$parent.stage.payers">
                <span ng-show="stageWidget1.payers.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span ng-show="stageWidget1.payers.$invalid && !stageWidget1.payers.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-5">
              <div class="form-group has-feedback" ng-class="{'has-error': stageWidget1.employees.$invalid && !stageWidget1.employees.$pristine, 'has-success': stageWidget1.employees.$valid}">
                <label for="employees">Employees</label>
                <input type="number" class="form-control" id="employees" name="employees" placeholder="Number" required ng-model="$parent.stage.employees" min="0">
                <span ng-show="stageWidget1.employees.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span ng-show="stageWidget1.employees.$invalid && !stageWidget1.employees.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-5">
              <div class="form-group has-feedback" ng-class="{'has-error': stageWidget1.engineers.$invalid && !stageWidget1.engineers.$pristine, 'has-success': stageWidget1.engineers.$valid}">
                <label for="engineers">Engineers</label>
                <input type="number" class="form-control" id="engineers" name="engineers" placeholder="Number" required ng-model="$parent.stage.engineers" min="0">
                <span ng-show="stageWidget1.engineers.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                <span ng-show="stageWidget1.engineers.$invalid && !stageWidget1.engineers.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-2">
            <div class="col-md-3 col-sm-3 col-xs-2">
              <button type="submit" ng-disabled="stageWidget1.$invalid" class="btn">Done</button>
            </div>
          </div>

        </form>
      </div> <!-- ng-switch-when="firstHalf" -->

      <div ng-switch-when="secondHalf">
        <form class="form" ng-submit="submit_stage_widget(stageWidget2.$valid, 'secondHalf')" id="stageWidget2" name="stageWidget2" role="form" novalidate>
          <div class="col-xs-12">
            <div class="col-md-3 col-sm-6 col-xs-6 ">
              <div class="form-group has-feedback" ng-class="{'has-error': stageWidget2.revenue.$invalid && !stageWidget2.revenue.$pristine, 'has-success': stageWidget2.revenue.$valid}">
                <label for="revenue">Revenue last month</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number" class="form-control" placeholder="USD" id="revenue" name="revenue" required ng-model="$parent.stage.revenue">
                  <span ng-show="stageWidget2.revenue.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  <span ng-show="stageWidget2.revenue.$invalid && !stageWidget2.revenue.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group has-feedback" ng-class="{'has-error': stageWidget2.expenses.$invalid && !stageWidget2.expenses.$pristine, 'has-success': stageWidget2.expenses.$valid}">
                <label for="expenses">Expenses last month</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number" class="form-control" placeholder="USD" id="expenses" name="expenses" required ng-model="$parent.stage.expenses">
                  <span ng-show="stageWidget2.expenses.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  <span ng-show="stageWidget2.expenses.$invalid && !stageWidget2.expenses.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6">
              <div class="form-group has-feedback" ng-class="{'has-error': stageWidget2.lifetime.$invalid && !stageWidget2.lifetime.$pristine, 'has-success': stageWidget2.lifetime.$valid}">
                <label for="customer-lifetime">Customer lifetime value</label>
                <div class="input-group">
                  <div class="input-group-addon">$</div>
                  <input type="number" class="form-control" placeholder="USD" id="customer-lifetime" name="lifetime" required ng-model="$parent.stage.lifetime">
                  <span ng-show="stageWidget2.lifetime.$valid" class="glyphicon glyphicon-ok form-control-feedback"></span>
                  <span ng-show="stageWidget2.lifetime.$invalid && !stageWidget2.lifetime.$pristine" class="glyphicon glyphicon-remove form-control-feedback"></span>
                </div>
              </div>
            </div>
            <div id="lifestage-done-btn" class="col-md-2 col-md-offset-1 col-sm-6 col-xs-6">
              <button type="submit" ng-disabled="stageWidget2.$invalid" class="btn">Done</button>
            </div>
          </div>

        </form>
      </div> <!-- ng-switch-when="secondHalf" -->
    </div><!-- row -->

  </div>