<div id="resources-allocation" ng-controller="ResourceAllocationCtrl">



  <div id="complete-message" ng-if="!hasData">
    <h4 class="text-center">Analyze Your Resources Allocation</h4>
    <button class="manual-input" ng-click="modal()"><i class="fa fa-pencil-square-o"></i> Fill in your data</button>
  </div>



  <div>
    <div class="header">
      <h3>How do you allocate your marketing budget?</h3>
      <p>Track marketing budgets and control results for all your acquisition channels</p>
      <button ng-click="modal()">Edit data <i class="fa fa-pencil-square-o"></i></button>
    </div>
    <chart value='chartData' height="400" chart-obj='chartObj'></chart>
  </div>
</div>

