
<div class="form-signin">
  <a href="/"><img alt="Logo" src="/assets/logo.svg" width="340px"></a>

  <form class="form" ng-controller="ResetCtrl" name="resetForm" ng-submit="change_pwd(password)" novalidate="">
    <div class="form-feedback" ng-show="resetForm.$invalid && resetForm.$dirty">
      <p class="help-block" ng-show="resetForm.password.$error.required && resetForm.password.$touched">Password required.</p>
    </div>


    <div class="form-wrapper">
      <div class="custom-control">
        <span class="icon icon-password"></span>
        <input type="password" name="password" class="login-input" ng-model="password" id="password" placeholder="Password" required="" autocomplete="off" autofocus>
      </div>
    </div> <!-- form wrapper -->

    <div class="submit-wrapper">
      <div>
        <button type="submit" id="login-btn" class="btn btn-primary" ng-disabled="!resetForm.$valid">Reset password</button>
      </div>
    </div><!-- submit wrapper -->
    <p id="change-pwd">Go back to login? <a class="link" ng-href="login">Cancel</a></p>

  </form>


</div>
