<div ng-controller="ErrorCtrl">
  <a href="/dashboard"><img src="./assets/logo.svg" id="navbar-logo"></a>

  <div id="errorVertCent">
    <h1 id="errorTitle" class="errorCenter">Whoops!</h1>
    <h4 id="errorSubtitle" class="errorCenter">Someone's totally gonna pay for this</h4>
    </br>
    <h6 class="errorBody errorCenter">This page is temporarily down</h6>
    <h6 class="errorBody errorCenter">While we find out who tripped over the power cord</h6>
    <h6 class="errorBody errorCenter">pelase contact us at <a href="mailto:support@compass.com">support@compass.com</a></h6>
    </br>
    <h6 class="errorBody errorCenter">We'll keep you updated on <a href="https://twitter.com/startupcompass"> Twitter </a></h6>
  </div>

  <div id="errorCode" class="errorCenter">Error {{statusCode}}</div>
</div>