<div class="form-settings">
  <h3 id="feedbackHead">Feedback</h3>

  <form ng-controller="FeedbackCtrl" name="FeedbackForm" ng-submit="sendFeedback()" novalidate="">

  <div class="form-group">
    <select class="form-control" ng-model="model.feedbackType" id="feedbackDropdown" ng-required='true'>
      <option value="General Feedback" translate>General Feedback</option>
      <option value="Technical Problem" translate>Technical Problem</option>
      <option value="Benchmark Feedback" translate>Benchmark Feedback</option>
    </select>
  </div>

  <div class="form-group">
    <textarea name="feedback" id="feedbackBody" class="form-control" ng-model="model.feedbackText" placeholder="Your feedback..." required=""> </textarea>
  </div>

  <div class="form-group">
    <button type="submit" id="feedbackSubmit" class="btn btn-primary" ng-disabled="!FeedbackForm.$valid">Send</button>

    <a href ng-click="cancel()" type="button" id="feedbackCancel" class="btn btn-default">Cancel</a>
  </div>

  </form>

</div>