<div ng-controller="HomePageCtrl">

<div id="first-div">
  <div class="container">
    <div class="row">
      <div class="col-lg-12"><H1 id="value-prop">Benchmark Your Google Analytics</H1></div>
    </div>
    <div class="row">
      <div class="col-xs-6 subtitle">
        <p>Identify problems</p>
        <p>Build consensus</p>
        <p>Allocate resources</p>
        <p>Control results</p>
        <p>Report</p>
      </div>
      <div class="col-xs-6">
        <a type="button" href="/signup" id="call2action" analytics-on="click" analytics-event="Landing Call-to-action">Get Started</a>
      </div>
    </div>
  </div>
</div>

<div id="second-div">
  <div class="container">
    <div class="row">
      <div class="col-lg-7 col-md-8">
        <img alt="MacBook" src="/assets/laptop_frame.gif" class="">
        <div class="wrapper"><img alt="MacBook" src="/assets/dashboard.png" class="img-responsive"></div>
      </div>
      <div class="col-lg-5 col-md-4 desc">
        <h2>Get your on-demand Google Analytics Analyst</h2>
        <p>Compass analyzes your Google Analytics Data and provides you with benchmarks and industry insights for smarter decisions and better reporting</p>
        <!-- <a type="button" href="#">Features</a> -->
      </div>
    </div>
  </div>
</div>

<div id="third-div">
  <div class="container">
    <div class="row">
      <div class="col-md-4 item">
          <img ng-src="./assets/step1.svg">
          <h3>Automated Data Collection</h3>
          <p>Painless integration with Google Analytics, Stripe, Paypal &amp; others</p>
      </div>
      <div class="col-md-4 item">
          <img ng-src="./assets/step2.svg">
          <h3>Automated Data Analysis</h3>
          <p>Generating sophisticated Benchmarks and Industry Insight</p>
      </div>
      <div class="col-md-4 item">
          <img ng-src="./assets/step3.svg">
          <h3>Compass Dashboard &amp; Reports</h3>
          <p>Providing decision-making support and internal Reporting features</p>
      </div>
    </div>
  </div>
</div>

<div id="testimonials-div">
  <h2 class="blue-center-title">Actively used by more than 30,000 Technology and E-commerce businesses worldwide</h2>
  <div>
    <carousel disable-ng-animate interval="myInterval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <p class="quote">{{slide.quote}}</p>

        <table class="quote-author">
          <tr>
            <td><img ng-src="./assets/{{slide.picture}}"></td>
            <td>
              <p class="name">{{slide.name}}</p>
              <p>{{slide.title}}</p>
            </td>
          </tr>
        </table>
      </slide>
    </carousel>
  </div> <!-- end sandbox -->
</div>

<div id="fans-div">
  <h2 class="blue-center-title">Meet a few of out fans</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-offset-0 col-md-4 col-xs-offset-2 col-sm-10 col-xs-12 no-padding">
        <h3 class="column-title">Compass Reports cited by</h3>
        <div>
          <img src="./assets/obama_thumb.png" class="thumb">
          <div class="caption">The Obama Administration</div>
        </div>
        <div>
          <img src="./assets/merkel_thumb.png" class="thumb">
          <div class="caption">Chancellor Merkel</div>
        </div>
        <div>
          <img src="./assets/prosor_thumb.png" class="thumb">
          <div class="caption aligned">Ron Prosor <br> Israerl's UN Ambassador</div>
        </div>
        <div class="hidden-sm hidden-xs">
          <img src="./assets/menino_thumb.png" class="thumb">
          <div class="caption aligned">Thomas Menino <br> Mayor of Boston </div>
        </div>
        <div class="hidden-sm hidden-xs">
          <img src="./assets/garcetti_thumb.png" class="thumb">
          <div class="caption aligned">Eric Garcetti <br> Mayor of Los Angeles</div>
        </div>
      </div>
      <div class="col-md-offset-0 col-md-4 col-xs-offset-2 col-sm-10 col-xs-12 no-padding">
        <h3 class="column-title">Partners and Collaborators</h3>
        <div>
          <img src="./assets/deloitte_thumb.png" class="thumb">
          <div class="caption">Deloitte Consulting</div>
        </div>
        <div>
          <img src="./assets/telefonica_thumb.png" class="thumb">
          <div class="caption">Telefónica</div>
        </div>
        <div>
          <img src="./assets/bizspark_thumb.png" class="thumb">
          <div class="caption">Microsoft Bizspark</div>
        </div>
        <div class="hidden-sm hidden-xs">
          <img src="./assets/stanford_thumb.png" class="thumb">
          <div class="caption">Stanford Business School</div>
        </div>
        <div class="hidden-sm hidden-xs">
          <img src="./assets/berkeley_thumb.png" class="thumb">
          <div class="caption">Berkeley, Haas Business School</div>
        </div>
      </div>
      <div class="col-md-offset-0 col-md-4 col-xs-offset-2 col-sm-10 col-xs-12 no-padding">
        <h3 class="column-title">Press</h3>

        <div class="press-link">
          <img src="./assets/nextweb_thumb.png" class="thumb">
          <a href="http://thenextweb.com/apps/2013/11/25/compass-lets-startups-check-growth-similar-companies-using-30-data-sources/"><p data-ellipsis data-ng-bind="press.nextWeb"></p></a>
        </div>

        <div class="press-link">
          <img src="./assets/wsj_thumb.png" class="thumb">
          <a href="http://blogs.wsj.com/accelerators/2013/11/04/kate-mitchell-dont-spend-before-youre-ready-to-scale/?mod=wsj_streaming_stream"><p data-ellipsis data-ng-bind="press.wallStreet"></p></a>
        </div>
        <div class="press-link">
          <img src="./assets/economist_thumb.png" class="thumb">
          <a href="http://www.economist.com/news/britain/21587268-cluster-start-ups-east-london-thriving-all-they-need-now-big-success-start-me-up"><p data-ellipsis data-ng-bind="press.economist"></p></a>
        </div>
        <div class="press-link hidden-sm hidden-xs">
          <img src="./assets/gigaom_thumb.png" class="thumb">
          <a href="https://gigaom.com/2011/05/28/startup-genome-map/"><p data-ellipsis data-ng-bind="press.gigaom"></p></a>
        </div>
        <div class="press-link hidden-sm hidden-xs">
          <img src="./assets/cnet_thumb.png" class="thumb">
          <a href="http://www.cnet.com/news/uncovering-the-dna-of-successful-start-ups/"><p data-ellipsis data-ng-bind="press.cNet"></p></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="research-div">
  <h2 class="blue-center-title">Read more about our Research</h2>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-7 no-padding">
        <h3 class="column-title">Compass reports</h3>
        <div class="report">
          <img src="/assets/report_red.jpg" class="img-responsive">
          <a href="http://blog.startupcompass.co/pages/startup-genome-report-1">Download</a>
        </div>
        <div class="report">
          <img src="/assets/report_blue.jpg" class="img-responsive">
          <a href="http://blog.startupcompass.co/pages/entrepreneurship-ecosystem-report">Download</a>
        </div>
        <div class="report">
          <img src="/assets/report_green.jpg" class="img-responsive">
          <a href="http://blog.startupcompass.co/pages/startup-genome-report-extra-on-premature-scal">Download</a>
        </div>
      </div>
      <div class="col-lg-6 col-md-5">
        <h3 class="column-title extra-margin">Compass Blog selected posts</h3>
        <div class="blog">
          <a href="http://blog.startupcompass.co/a-deep-dive-into-the-anatomy-of-premature-sca">A Deep Dive into the Anatomy of Premature Scaling</a>
          <span>(90,069 views)</span>
        </div>
        <div class="blog">
          <a href="http://blog.startupcompass.co/the-entrepreneurial-enlightenment">The Entrepreneurial Enlightenment</a>
          <span>(83,491 views)</span>
        </div>
        <div class="blog">
          <a href="http://blog.startupcompass.co/the-rise-of-startup-ecosystems-silicon-valley">The Rise of Startup Ecosystems: Silicon Valley vs. New York vs. London</a>
          <span>(81,254 views)</span>
        </div>
        <div class="blog">
          <a href="http://blog.startupcompass.co/defining-the-x-chromosome-the-dna-of-women-le">Defining the X Chromosome: the DNA of Women Led Startups</a>
          <span>(74,031 views)</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="lower-call2action">
  <h2>Ready for your own benchmarks?</h2>
  <a type="button" href="/signup" id="call2action">Get Started</a>
</div>

</div> <!-- ng-controller   -->