<div ng-controller='secondNavCtrl' id="second-nav">
  <div class="container">
    <div class="row">
      <div class="col-md-7 col-xs-12">
        <div id="company-name">{{company.name}}</div>
        <div class="separator"></div>
        <div class="peergroup">
          <span>Your Peer Group</span>
          <table>
            <thead>
              <tr>
                <td>{{company.peerGroup}}</td>
                <td>{{company.segment}}</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Size</td>
                <td>Type</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="col-md-5 col-xs-12 data-sources">
        <a href="/data_sources">
          <img src="../../assets/GA_logo_blue.png">
          <span><i class="fa fa-plus"></i> Add Data Source</span>
        </a>
      </div>

    </div>
  </div>
</div>