<div id="survey-wrapper">

  <form class="form form-clustering" ng-controller="SurveyClusteringCtrl"
  id="form_clustering" name="form_clustering" novalidate>
    <div class="form-group">
      <label for="acquisition-channel" translate id="survey-question">
        What do you consider to be your most important acquisition channel?
      </label>
      <select class="form-control" ng-model="model.acquisition_channel" id="acquisition-channel" ng-required='true' ng-change="send_form(form_clustering, 'acquisition', 'revenue')">
        <option value="acqu_affiliate" translate>Affiliate / Lead Generation</option>
        <option value="acqu_app_store" translate>App Store</option>
        <option value="acqu_biz_dev" translate>Biz Dev / Partnerships</option>
        <option value="acqu_blogs" translate>Blogs / Content Marketing</option>
        <option value="acqu_campaigns" translate>Campaigns / Contests</option>
        <option value="acqu_conferences" translate>Conferences</option>
        <option value="acqu_direct_sales" translate>Direct Sales</option>
        <option value="acqu_domains" translate>Domains</option>
        <option value="acqu_email" translate>Email</option>
        <option value="acqu_pr" translate>PR</option>
        <option value="acqu_radio" translate>Radio</option>
        <option value="acqu_sem" translate>SEM</option>
        <option value="acqu_seo" translate>SEO</option>
        <option value="acqu_social_media" translate>Social Media Marketing</option>
        <option value="acqu_sponsorship" translate>Sponsorship</option>
        <option value="acqu_telemarketing" translate>Telemarketing</option>
        <option value="acqu_tv" translate>TV</option>
        <option value="acqu_viral_referral" translate>Viral / Referral</option>
        <option value="acqu_widgets" translate>Widgets</option>
        <option value="acqu_word_of_mouth" translate>Word of Mouth</option>
        <option value="acqu_other" translate>Other</option>
      </select>
    </div>
  </form>
</div>

<div ng-include="'views/partials/survey_steps.html'"></div>