<div id="survey-wrapper">

  <form class="form form-clustering" ng-controller="SurveyClusteringCtrl"
        ng-submit="send_form(form_clustering, 'lifecycle', 'acquisition')"
        id="form_clustering" name="form_clustering" novalidate>
    <div class="form-group">
      <label translate id="survey-question">
        What is the most appropriate period to measure your retention rate?
      </label>

      <div id="horizontal-options" class="row">
        <label>
          <div class="option first" ng-class="{'active': model.lifecycle == 'life_day' }">
            <input type="radio" ng-click="send_form(form_clustering, 'lifecycle', 'acquisition')" ng-model="model.lifecycle" value="life_day"
                   ng-required='!(model.life_day||model.life_week||model.life_month||model.life_quarter||model.life_year||model.life_two_years||model.life_three_years||model.life_four_years||model.life_five_years||model.life_more_five_years)'>
            <span translate>Day</span>
          </div>
        </label>


        <label>
          <div class="option" ng-class="{'active': model.lifecycle == 'life_week' }">
            <input type="radio" ng-click="send_form(form_clustering, 'lifecycle', 'acquisition')" ng-model="model.lifecycle" value="life_week"
                   ng-required='!(model.life_day||model.life_week||model.life_month||model.life_quarter||model.life_year||model.life_two_years||model.life_three_years||model.life_four_years||model.life_five_years||model.life_more_five_years)'>
            <span translate>Week</span>
          </div>
        </label>

        <label>
          <div class="option" ng-class="{'active': model.lifecycle == 'life_month' }">
            <input type="radio" ng-click="send_form(form_clustering, 'lifecycle', 'acquisition')" ng-model="model.lifecycle" value="life_month"
                   ng-required='!(model.life_day||model.life_week||model.life_month||model.life_quarter||model.life_year||model.life_two_years||model.life_three_years||model.life_four_years||model.life_five_years||model.life_more_five_years)'>
            <span translate>Month</span>
          </div>
        </label>

        <label>
          <div class="option" ng-class="{'active': model.lifecycle == 'life_quarter' }">
            <input type="radio" ng-click="send_form(form_clustering, 'lifecycle', 'acquisition')" ng-model="model.lifecycle" value="life_quarter"
                   ng-required='!(model.life_day||model.life_week||model.life_month||model.life_quarter||model.life_year||model.life_two_years||model.life_three_years||model.life_four_years||model.life_five_years||model.life_more_five_years)'>
            <span translate>Quarter</span>
          </div>
        </label>

        <label>
          <div class="option" ng-class="{'active': model.lifecycle == 'life_year' }">
            <input type="radio" ng-click="send_form(form_clustering, 'lifecycle', 'acquisition')" ng-model="model.lifecycle" value="life_year"
                   ng-required='!(model.life_day||model.life_week||model.life_month||model.life_quarter||model.life_year||model.life_two_years||model.life_three_years||model.life_four_years||model.life_five_years||model.life_more_five_years)'>
            <span translate>1 Year</span>
          </div>
        </label>

        <label>
          <div class="option" ng-class="{'active': model.lifecycle == 'life_two_years' }">
            <input type="radio" ng-click="send_form(form_clustering, 'lifecycle', 'acquisition')" ng-model="model.lifecycle" value="life_two_years"
                   ng-required='!(model.life_day||model.life_week||model.life_month||model.life_quarter||model.life_year||model.life_two_years||model.life_three_years||model.life_four_years||model.life_five_years||model.life_more_five_years)'>
            <span translate>2 Years</span>
          </div>
        </label>

        <label>
          <div class="option" ng-class="{'active': model.lifecycle == 'life_three_years' }">

            <input type="radio" ng-click="send_form(form_clustering, 'lifecycle', 'acquisition')" ng-model="model.lifecycle" value="life_three_years"
                   ng-required='!(model.life_day||model.life_week||model.life_month||model.life_quarter||model.life_year||model.life_two_years||model.life_three_years||model.life_four_years||model.life_five_years||model.life_more_five_years)'>
            <span translate> &gt; 2 Years</span>
          </div>
        </label>

      </div>
    </div>

  </form>

</div>

<div ng-include="'views/partials/survey_steps.html'"></div>
