<div id="survey-wrapper">

  <form class="form form-clustering" ng-controller="SurveyClusteringCtrl"
  ng-submit="send_form(form_clustering, 'users', 'customers')"
  id="form_clustering" name="form_clustering" novalidate>
  <div class="form-group">
    <label translate id="survey-question">
      Who are the users of your product?
    </label>
    <br><br><br>

    <div id="vertical-options">
      <div class="option">
        <label>
          <input type="radio" ng-click="send_form(form_clustering, 'users', 'customers')" name='user-consumer' ng-model="model.user" value="user_consumer"
          ng-required='!(model.user_consumer || model.user_sme || model.user_enterprise || model.user_other)'>
          <div class="custom-checkbox" ng-class="{'active' : model.user == 'user_consumer'}">
            <img src="../../assets/checkmark.svg">
          </div>
          <span translate>
            Consumers
          </span>
        </label>
      </div>
      <div class="option">
        <label>
          <input type="radio" ng-click="send_form(form_clustering, 'users', 'customers')" name='user-sme' ng-model="model.user" value="user_sme"
          ng-required='!(model.user_consumer || model.user_sme || model.user_enterprise || model.user_other)'>
          <div class="custom-checkbox" ng-class="{'active' : model.user == 'user_sme'}">
            <img src="../../assets/checkmark.svg">
          </div>
          <span translate>
            Small & medium businesses
          </span>
        </label>
      </div>
      <div class="option">
        <label>
          <input type="radio" ng-click="send_form(form_clustering, 'users', 'customers')" name='user-enterprise' ng-model="model.user" value="user_enterprise"
          ng-required='!(model.user_consumer || model.user_sme || model.user_enterprise || model.user_other)'>
          <div class="custom-checkbox" ng-class="{'active' : model.user == 'user_enterprise'}">
            <img src="../../assets/checkmark.svg">
          </div>
          <span translate>
            Large enterprises
          </span>
        </label>
      </div>
      <div class="option">
        <label>
          <input type="radio" ng-click="send_form(form_clustering, 'users', 'customers')" name='user-other' ng-model="model.user" value="user_other"
          ng-required='!(model.user_consumer || model.user_sme || model.user_enterprise || model.user_other)'>
          <div class="custom-checkbox" ng-class="{'active' : model.user == 'user_other'}">
            <img src="../../assets/checkmark.svg">
          </div>
          <span translate>
            Others
          </span>
        </label>
      </div>
    </div>
  </div>

</form>

</div>

<div ng-include="'views/partials/survey_steps.html'"></div>