#performance {
  background-color: white;
  border: 1px solid #E5E5E5;
  min-height:551px;
}

#effective-sources, #resources-allocation {
  background-color: white;
  border: 1px solid #E5E5E5;
  min-height:450px;
}

#performance .header, #performance .toggle-graph, #effective-sources .header {
  padding: 0 20px;
}
#resources-allocation .header {
  padding: 0 20px;
  position:relative;
}
#performance h3 strong, #effective-sources h3 strong {
  font-weight: 400;
}

#perf-charts {
  width:97%;
  margin: 20px 20px 10px 20px;
}

#performance a, #effective-sources a {
  font-size: 18px;
  color:#999999;
  border-bottom: 2px solid #E5E5E5;
  text-decoration: none;
  margin:-2px;
  padding: 3px 10px;
  font-weight: 300
}
#performance a.active, #effective-sources a.active {
  border-bottom: 2px solid #428bca;
  color: #428bca;

}
#performance a:hover, #effective-sources a:hover {
  border-bottom: 2px solid #428bca;
  color: #428bca;
}
#performance .toggle-graph, #effective-sources .toggle-graph {
  margin-left: 30px;
}




#complete-message {
  border: 1px solid #E5E5E5;
  width: 300px;
  background-color: white;
  padding: 15px;
  position:absolute;
  left:0;
  right:0;
  margin-left:auto;
  margin-right:auto;
  z-index: 10;
}
#effective-sources #complete-message {
  margin-top: 180px;
}
#performance #complete-message {
  margin-top: 250px;
}
#resources-allocation #complete-message {
  margin-top: 180px;
  text-align: center;
}

#complete-message a{
  padding: 5px;
  color: white;
  background-color:#428bca;
  border: none;
  border-radius: 0;
}
#complete-message a:hover {
  background-color:#306581;
  color: white;
  border: none;
}
#complete-message .data-spinner {
  text-align: center;
  color: #428bca;
}
#complete-message .data-spinner p {
  color: #999999;
  font-size: 13px;
}
#complete-message .data-spinner i {
  font-size: 24px;
}

#complete-message .manual-input {
  background-color: #428bca;
  border: none;
  color: white;
  padding: 5px 60px;
  font-size: 18px;
}

#resources-allocation .header button {
  background: none;
  border: none;
  position: absolute;
  right: 16px;
  top: 10px;
  font-size: 17px;
}
#resources-allocation .header button i {
  font-size: 27px;
  position: relative;
  top: 4px;
}
#resources-allocation .header button:hover {
  color: #428bca;
}
