#lifestage-widget {
  width:100%;
  background-color: #3C3C3C;
  padding: 2% 3%;
  font-size: 16px;
}

#lifestage-widget h4 {
  color: #999999;
  font-family: 'Open Sans';
  font-weight: 300;
  margin-left: 14px;
}
#lifestage-widget h3 {
  margin:0 0 30px 14px;
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
}

#lifestage-widget label {
  color: white;
  font-family: 'Open Sans';
  font-weight: 300;
}

#lifestage-widget input {
  height: 45px;
  border-radius: 4px;
}
#lifestage-widget .input-group-addon {
  height: 45px;
  border-radius: 4px 0 0 4px;
}
#lifestage-widget .input-group-addon~input {
  height: 46px;
  border-radius: 0 4px 4px 0;
}

#lifestage-widget .btn {
  background-color: white;
  height: 45px;
  width: 100px;
  color:#3A97C8;
  font-family: 'Open Sans';
  font-size: 16px;
  margin-top: 27px;

}
#lifestage-widget .btn:hover {
  background-color: #E6E6E6
}

#lifestage-widget .hide-widget {
  float: right;
  margin-top: 4px;
  margin-right: 10px;
  color: #999999;
  font-family: 'Open Sans';
  font-weight: 300;
}
#lifestage-widget .hide-widget a {
  margin-left:5px;
  color:white;
}
#lifestage-widget .hide-widget a:hover {
  color: #999999;
}

/* this affect the firstHalf form */
#lifestage-widget .form-group>span {
  top:34px;
}

/* this affect the secondHalf form */
#lifestage-widget .input-group>span {
  top:7px;
}


/*Media Queries*/
@media(max-width:469px){
    #lifestage-done-btn{
        margin-top: 20px;
    }
}
