body{
  min-height:100%;
  position:relative;
  font-family: 'Open Sans', sans-serif;
  color:#666666;
  font-weight: 300;
  overflow-x: hidden;

}

body h1, body h2, body h3, body h4 {
  font-weight: 300;
}

.preventOverflow {
  overflow: hidden;
}

.hidden {
    display: none;
}

.fade-in-animation.ng-enter, .fade-in-animation.ng-leave {
    position: absolute;
    left: 0;
    right: 0;
}

.fade-in-animation.ng-enter {
    -webkit-animation: 0.5s fade-in;
    -moz-animation: 0.5s fade-in;
    -o-animation: 0.5s fade-in;
    animation: 0.5s fade-in;
    z-index: 100;
}

.fade-in-animation.ng-leave {
    -webkit-animation: 0.5s fade-out;
    -moz-animation: 0.5s fade-out;
    -o-animation: 0.5s fade-out;
    animation: 0.5s fade-out;
    z-index: 99;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-moz-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}
@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-moz-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}
@-webkit-keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

.navbar {
    margin-bottom: 0;
}

#nav-compass-logo{
    height: 40px;
    margin-bottom: 0;
}

footer{
    margin-bottom: 20px;
    width:100%;
    height:110px;
}

.footer-links{
    width: 160px;
}

.footer-header{
    font-weight: 300;
    font-size: 12px;
    color: #999999;
    margin-bottom: 6px;
}

#footer-icon-group{
    float: right;
    margin: 0 0 0 0;
}

.footer-icons{
    border-radius: 2px;
    margin-left: 10px;
    -webkit-filter: opacity(15%);
}

.footer-subcategory{
    font-weight: 300;
    margin-bottom: 2px;
    font-size: 10px;
    color: #CCCCCC;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.alert {
    margin-top: 10px;
    margin-bottom: 0px;
}

.form-signin {
    max-width: 390px;
    padding-top: 15px;
    margin: 6% auto 0 auto;
    text-align:center;
}

img{
    padding-bottom: 15px;
    margin: 10px auto;
}

#change-btn{
    font-weight: 300;
    width: 100px;
    margin-left: 130px;
    margin-top: 20px;
}

#cancel-btn{
    font-weight: 300;
    width: 100px;
    margin-top: 20px;
}

.settings-label{
    color: #999999;
}

#use-link{
    font-family: 'Open Sans', sans-serif;
    margin-left: 17px;
}

#create-acct{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #999999;
}
#change-pwd{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #999999;
}

#forgot-pass{
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0;
    margin-top: 13px;
}

.inner{
    width: 800px;
    margin: auto auto;
}

.terms-policy-title{
    max-width: 450px;
    margin: 25px auto 10px auto;
}
.terms-policy-outer{
    background-color: white;
    border: 1px solid #CCCCCC;
    width: 900px;
    margin-left: 100px;
    margin-top: 25px;
    margin-bottom: 20px;
}

#my-account{
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 165px;
    font-size: 32px;
    color: #3A97C8;
}

#myaccount-notifications{
    margin-bottom: 30px;
}

.control-label{
    width: 125px;
    font-weight: 300;
}

.myaccount-control{
    width: 280px;
    display: inline;
    margin-left: 15px;
}

.form-settings{
    font-weight: 300;
    font-style: normal;
    width: 400px;
    padding-top: 15px;
    margin: 4% auto 0 auto;
}

#nav-feedback{
    color: #3A97C8;
}

#feedbackDropdown{
    width: 320px;
    margin: 4% auto 0 auto;
}

#feedbackBody{
    width: 320px;
    margin: 2% auto 0 auto;
    height: 160px;
}

#feedbackHead{
    font-weight: 300;
    margin-bottom: 20px;
    margin-left: 125px;
    font-size: 32px;
    color: #3A97C8;
}

#feedbackSubmit{
    font-weight: 300;
    width: 100px;
    margin-left: 105px;
    margin-top: 20px;
}

#feedbackCancel {
    font-weight: 300;
    width: 100px;
    margin-top: 20px;
}

.widget {
  margin-top:10px;
}

#errorTitle{
    color: #3A97C8;
}

#errorSubtitle{
    color: black;
}

.errorBody{
    color: black;
}

#errorCode{
    min-height: 100%;
}

#errorVertCent{
    margin-top: 80px;
}

.errorCenter{
    text-align: center;
    vertical-align: middle;
}

#back-home {
  text-decoration: none;
  color: #3A97C8;
  padding-bottom: 70px;
  margin-left: 100px;
  margin-top: 20px;
  font-size: 18px;
}

#back-home:hover {
  text-decoration: none;
  color:#306581;
}

#admin-settings {
  margin:30px;
  text-align: center;
}

#admin-settings input, #admin-settings button {
  display: inline;
  max-width: 300px;
}

.scrollBarRemove{
    width: calc(101vw - 20px);
}