#mkt-input {
  padding: 15px;
  border:1px solid black;
  position:relative;
}
#mkt-input .title h2 {
  text-align: center;
  color: #428bca;
  margin-bottom: 30px;
}
#mkt-input .vertical-line {
  background-color: #E5E5E5;
  position: absolute;
  height: 270px;
  width: 2px;
  top: 157px;
  left: 32px;
}
#mkt-input th {
  padding-left: 10px;
}
#mkt-input tr.highlight th {
  color: #428bca;
  font-weight: 400;
}

#mkt-input .grey {
  background-color: #F2F2F2 !important;
}
#mkt-input .months {
padding-bottom: 8px;
}

#mkt-input th .fa-times {
  float: right;
  margin-right: 5px;
  margin-top: 2px;
  padding: 5px;
}
#mkt-input th .fa-plus {
  margin-right: 5px;
  top:0;
}
#mkt-input th .fa:hover {
  color: #306581;
  background-color: #E5E5E5;
}

#newRow th {
padding-top: 6px
}
#newRow th:hover {
  color: #306581;
  background-color: #E5E5E5;
  font-weight: 400 !important;
}
#newRow .fa-plus {
  position:relative;
  top: -2px;
}
#newRow .fa-check {
  position: relative;
  top: 7px;
  left: -3px;
  padding: 5px;
}
#new-manual-metric {
    padding: 0 !important;
}
#new-manual-metric:hover {
  background-color: transparent !important;
}
#newRow button.new-metric {
  background:none;
  border:none;
  padding: 0;
  float: right;
}

#new-manual-metric input {
  width: 83% !important;
  height: 123% !important;
  border: 1px solid #E5E5E5 !important;
  color: #428bca !important;
  font-weight: 400 !important;
}

#mkt-input .form-buttons {
  text-align: center;

}
#mkt-input .form-buttons .save {
  display: inline;
  margin: 5px;
  background-color: #428BCA;
  border: none;
  color: white;
  padding: 7px 35px;
  border: 1px solid #428BCA;

}
#mkt-input .form-buttons .cancel {
  display: inline;
  margin: 5px;
  padding: 7px 35px;
  background-color: white;
  color: #CCCCCC;
  border: 2px solid #E5E5E5;
}
#mkt-input .form-buttons .save:hover {
  background-color:#306581;
}
#mkt-input .form-buttons .cancel:hover {
background-color: #E5E5E5;
color: #999999;
}
#mkt-input .main-table th {
  font-weight: 300;
  width: 195px;
}
#mkt-input .main-table input, #mkt-input .main-table .sum {
  border:none;
  width:88%;
  padding-left: 6px;
}
#mkt-input .main-table input:focus {
  outline: none;
}
#mkt-input .main-table .input-td {
  background-color: white;
  border:2px solid #E5E5E5;
  padding: 6px 0 4px 1%;
}

#mkt-input .main-table .sub-level th span {
  padding-left:20px;
}

#mkt-input .form-trigger {
  cursor: pointer;
}

#mkt-input table .separator {
  height: 35px;
}

#mkt-input .help {
  padding-left: 7px;
  font-size: 20px;
  color: #e5f0ff;
  cursor:pointer;
}


#mkt-input .popover {
  width:700px !important;
}









