#second-nav {
  padding: 4px 20px;
  color: white;
  font-weight: 300;
  background-color: #3A97C8;
}

#second-nav h3 {
  margin-top:10px;
  margin-bottom:0;
  font-weight: 300;
  padding-left: 10%;
}

#second-nav tbody {
  color: #b7dff7;
  padding-right: 20px;
}
#second-nav thead td {
  font-size: 20px;
}
#second-nav .data-sources {
  position: relative;
  top: 6px;
}
#second-nav .data-sources img {
  width:45px;
  height:auto;
  padding:0;
  margin-right: 15px;
}
#second-nav .data-sources span {
  font-size: 25px;
  color: #b7dff7;
  position: relative;
  top: 7px;
}

#second-nav .data-sources a:hover {
  text-decoration: none;
}
#second-nav .data-sources span:hover {
  color:#306581;
}

/*##################################################*/

#second-nav .peergroup {
  display: inline-block;
  position: relative;
  top:6px;
}
#second-nav .peergroup span {
  position: absolute;
  top: -17px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin:0;
}
#second-nav table td{
  padding-right: 60px;
}
#second-nav table td:last-child{
  padding-right: 0;
}

#company-name {
  display: inline-block;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 1px;
  position: relative;
  bottom: 8px;
  margin: 0;
  max-width: 300px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#company-name.is-mid {
  font-size: 24px;
}
#company-name.is-long {
  bottom: 1px;
}


#second-nav .separator {
  height: 65px;
  border-left: 1px solid #91c4e2;
  display: inline-block;
  margin: 0 19px;
  position: relative;
  top: 4px;
}




