/* COMMON TO THE WHOLE FORM */

body {
  background-color: #F7F7F7;
}

#current-step li div.done {
    border: 2px solid #3A97C8;
    background-color: #3A97C8;
}

.cursor-pointer{
  cursor:pointer;
}

#survey-logo {
  height: 60px;
  margin-left: 50px;
  margin-top: 25px;
  margin-bottom: 0;
}

#survey-wrapper {
  width: 80%;
  margin:auto;
  margin-top: 3em;
}
#survey-wrapper form {
  text-align: center
}

#survey-question {
  font-family: 'Open Sans';
  font-size: 34px;
  color:#3A97C8;
  font-weight: 300;
  max-width: 690px;
}
#survey-question span{
  color: #999999;
  font-size: 14px;
  position: relative;
  top: -15px;
}

#btn-next {
  margin-bottom: 150px;
  margin-top: 20px;
  padding-bottom: 0;
  padding-left: 16px;
  width: 150px;
  background-color:#3A97C8;
}
#btn-next:disabled {
  background-color:#999999;
}
#btn-next:hover, #btn-next:active {
  background-color:#306581;
}

#current-step {
  padding: 0;
  margin: 0;
  list-style: none;
  position:fixed;
  right:3em;
  top:40%;
}

#current-step li div {
  display: inline-block;
  height:22px;
  width: 22px;
  margin-bottom: 10px;
  border-radius: 11px;
  background-color: transparent;
  border: 2px solid #BABABA;
}
#current-step li div.active {
  background-color: white;
  border: 2px solid #3A97C8;
}

/* SPECIFIC TO MONETIZATION */

#survey-wrapper h3 {
  margin-bottom: 25px;
  text-align: center;
  color: #999999;
  font-family: 'Open Sans';
  font-weight: 300;
}
.row.options {
  margin-top: 40px;
}

.option input {
  display:none;
}
.option-box {
  height: 270px;
  cursor:pointer;
  text-align: left;
  padding: 8px;
  background-color: white;
  border: 1px solid #CCCCCC;
  border-radius: 3px;
}
.mon-type {
  font-size:16px;
  color: #3A97C8;
  margin-bottom: 0;
  font-weight: 400;
}
.mon-subtype {
  font-size:16px;
  color: #666666;
  margin-bottom: 0;
  font-weight: 400;
}
.mon-desc {
  font-size: 13px;
  color: #666666;
  font-weight: 300;
}
.option-box.active {
  background-color: #3A97C8;

}
.option-box.active p {
  color: white;
}


@media (min-width: 743px) and (max-width: 1200px) {
    .option-box {
        width: 576px;
    }
}

@media (max-width: 743px){
    #horizontal-options label {
        margin-top: 20px;
    }
    .option-box {
        width: 300px;
    }

}

 img.monetization_logos{
    margin: 0;
    padding: 0;
}

#salesforce_logo{
    margin-left: -20px;
    height: 55px;
}

#linkedin_logo{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}

#cnn_logo{
    margin-left: -10px;
}

#jawbone_logo{
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#evernote_logo{
    margin-left: 10px;
}
/* SPECIFIC TO CUSTOMERS, USERS, CONVERSION */

#vertical-options {
  width: 400px;
  position:relative;
  left:83px;
  margin: auto;
  text-align: left
}

#vertical-options input {
  display: none;
}

#vertical-options label {
  font-family: 'Open Sans';
  font-weight: 400;
  color: #3A97C8;
  font-size: 17px;
}

.custom-checkbox {
  position: relative;
  top: -3px;
  display: inline-block;
  border-radius: 25px;
  background-color: white;
  border: 1px solid #CCCCCC;
  height: 30px;
  width: 30px;
  margin-right: 6px;
}
.custom-checkbox.active {
  background-color: #3A97C8;
}

.custom-checkbox img {
  padding: 0;
  margin: 0;
  height: 24px;
  position: relative;
  left: 2px;
  top: 4px;
}

#checkbox-nav img {
    height: 20px;
    margin-top: -8px;
    margin-left: -2px;
}

/* SPECIFIC TO LIFETIME VALUE PAGE */

#horizontal-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

#horizontal-options input {
  display: none;
}

#horizontal-options label {
  font-family: 'Open Sans';
  font-weight: 400;
  font-size: 17px;
}

#horizontal-options .option {
  display: inline;
  background-color: white;
  color: #3A97C8;
  border: 1px solid #E5E5E5;
  border-top: 2px solid #E5E5E5;
  border-bottom: 2px solid #E5E5E5;
  padding: 10px 12px;
  margin: 0;
  margin-bottom: 3px;
}

#horizontal-options .option.first {
  border-left: 2px solid #E5E5E5;
  border-radius: 4px 0 0 4px;
}
#horizontal-options .option.last {
  border-right: 2px solid #E5E5E5;
  border-radius: 0 4px 4px 0;
}

#horizontal-options .option.active {
  color: white;
  background-color: #3A97C8;
}

/* SPECIFIC TO ACQUISITION AND REVENUE PAGES */

#survey-wrapper select {
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  height:43px;
  color: #3A97C8;
  font-size: 19px;
}

/* SPECIFIC TO DATA SOURCE CONNECTION PAGE */

#start_survey a {
  background-color: #3A97C8;
  color: white;
  display: inline;
  padding: 6px 44px;
  font-weight: 300;
  font-size: 16px;
  position: relative;
  right: 36px;
}

#start_survey {
text-align: center;
margin:40px;
}

.squarely {
    border-radius: 0;
    /*please remove me this shit is ugly*/
}


